@font-face {
    font-family: 'Eudoxus-Sans';
    src: url(../assets/fonts/EudoxusSans-Regular.ttf);
}

html, body {
    margin: 0; padding: 0;
}

.login-page {
    height: 100vh; width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; padding: 0;

    background: {
        image: url('../assets/images/bg.svg');
        repeat: no-repeat;
        size: cover;
    };
    font-family: 'Eudoxus-Sans';
    overflow: hidden;


    .container {
        height: 500px; width: 450px;
    
        position: absolute;
        box-sizing: border-box;
    
        background: {
            color: rgba(0, 0, 0, .5);
            image: url('../assets/images/blur.png');
            repeat: no-repeat;
            size: cover;
        }
        border: {
            width: 2px;
            style: solid;
            color: rgba(192, 192, 192, 0.58);
        }
    
        header {
           width: 100%; height: 30%; 
    
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
    
           img {
               height: 80%;
           }
        }
    
        .nav {
            width: 100%; height: 15%;
    
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
    
            .navbar {
                width: 65%;
    
                display: flex;
                justify-content: space-around;
                margin-bottom: 10px;
    
                font-size: 14px;
                color: grey;
    
                span {
                    width: 50%;
                    line-height: 125%;
    
                    cursor: pointer;
                    text-align: center;
                    transition: all .3s ease;
                }
    
                .active {
                    color: white;
                }
            }
    
            .underline {
                width: 65%; height: 2px;
    
                background-color: rgba(60, 60, 60, 0.28);
    
                .switch {
                    height: 100%; width: 50%;
    
                    background: linear-gradient(97.11deg, #FEE5A6 3.94%, #FDB092 36.84%, rgba(249, 42, 42, 0.6) 74.25%, #FC80B8 108.01%);
                    transition: all .3s ease;
                }
            }
        }
    
        section {
            width: 100%; height: 55%; 
    
            display: flex;
            justify-content: center;
            visibility: hidden;
            position: absolute;
    
            opacity: 0;
            transition: all .3s ease-in-out;
    
            button {
                height: 45px; width: 55%;
    
                color: white;
                background: linear-gradient(223.14deg, #7B7B7B -107.72%, #0B0B0B 109.08%);
                border: none;
                cursor: pointer;
    
                &:hover {
                    background: linear-gradient(222.93deg, #FA00FF -73.65%, #F92A2A 44.08%, #FFF624 137.93%, #FFFFFF 203.22%);
                }
    
            }
        }
    
        .section-login {
            form {
                width: 65%; height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                .chart {
                    height: 50px; width: 100%;
    
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    box-sizing: border-box;
    
                    color: grey;
                    border: {
                        width: 2px;
                        style: solid;
                        color: rgba(192, 192, 192, 0.58);
                    }
    
                    &:hover {
                        color: white;
                        border: {
                            width: 2px;
                            style: solid;
                            image-slice: 1;
                            image-source: linear-gradient(97.11deg, #FEE5A6 3.94%, #FDB092 36.84%, rgba(249, 42, 42, 0.6) 74.25%, #FC80B8 108.01%);
                        }
                    }
    
                    input {
                        height: 70%;
    
                        background: none;
                        border: none;
                        font-size: 14px;
                        color: white;
    
                        &:hover {
                            cursor: default;
                        }
    
                        &:focus {
                            outline: none;
                            color: white;
                        }
                    }
                }
    
                .focused {
                    color: white;
                }
            }
        }
    
        .section-register {
            .content {
                width: 65%; height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                p {
                    text-align: center;
        
                    color: white;
                }
    
                span {
                    text-align: center;
    
                    color: grey;
                    font-size: 12px;
                }
            }
        }
    
        .section-active {
            opacity: 1;
            visibility: visible;
        }
    }
}